.main_container_author {
    color: white;
    width: 60vw;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.author_image {
    width: 40vw;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: block;
}
.author_Contect{
    color: white;
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.author_name {
    color: white;
    font-size: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.author_species {
    color: white;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.h3_title_user {
    color: white;
    font-size: 4em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

.p_user_header {
    color: white;
    font-size: 2em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.master_conteiner_progress_bar {
    width: 100%;
    position: relative;
}

.p_user_progress_bar_name {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 20px;
    padding-top: 2px;

    color: white;
    padding-left: 20px;
    padding-right: 20px;

}

.p_user_progress_bar_number {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    left: 0;
    right: 0;
    color: white;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;

}

.bar_9,
.bar_8,
.bar_7,
.bar_6,
.bar_5,
.bar_4,
.bar_3,
.bar_2,
.bar_1 {
    height: 1.5em;
    font-size: 1.2em;
    margin-top: 1em;
    height: 1.6em;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
    background-color: #e4c465;
    -webkit-animation: progressBar 2s ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation: progressBar 2s ease-in;
    -moz-animation-fill-mode: both;
}

@-webkit-keyframes progressBar {
    0% {
        width: 0;
    }
}

@-moz-keyframes progressBar {
    0% {
        width: 0;
    }
}

.bar_1 {
    background-color: rgb(51, 190, 255);

}

.bar_2 {
    background-color: rgb(108, 0, 170);

}

.bar_3 {
    background-color: rgb(216, 184, 5);

}

.bar_4 {
    background-color: rgb(223, 56, 134);

}

.bar_5 {
    background-color: rgb(148, 212, 44);

}

.bar_6 {
    background-color: rgb(255, 167, 51);

}

.bar_7 {
    background-color: rgb(9, 208, 211);

}

.bar_8 {
    background-color: rgb(184, 15, 206);

}

.bar_9 {
    background-color: rgb(0, 0, 0);

}

.h3_title_user_megatitle {
    color: white;
    font-size: 4em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}


.author_p_field {

    color: white;
    width: auto;
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.links_container_author_master {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.text_container_author_master {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.author_p_field:hover {
    color: rgb(2, 217, 255);
}

.links_container_author {
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 0.1em;
    padding-left: 1.7em;
    border-left: 1px solid white;
}

.links_container_author_left {
    vertical-align: top;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    margin-right: 0.1em;
    padding-right: 1.5em;
}

.author_link_to {
    display: inline-block;
    width: max-content;
}
@media only screen and (max-width: 1000px) {
    .links_container_author{
        display: block;
        border-left: none;
        margin-left: 0em;
    padding-left: 0em;
        width:90vw
    }
    .links_container_author_left{
        text-align: center;
        display: block;
        margin-right: 0em;
    padding-right: 0em;
        width:90vw
    }
    .main_container_author{
width:90vw;
text-align: center;
    }
} 