/*
* Css for footer
*/

footer {
    font-family: 'Montserrat', sans-serif;
    height: 3em;
    font-size: 1.5rem;
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    display: block;
    letter-spacing: 0.2em;
}

.WP-footer-text {
    padding-top: 1em;
}