/*
* Css for header 
*/

.top-ar {
  background-color: rgb(32, 32, 32);
  color: white;

  border-bottom: 1px solid rgb(30, 180, 240);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
 
}

.siteTitle,
.siteTitle:active,
.siteTitle:hover {
  color: white;

  font-size:1.2em;
  left:2em;
  top:0.5em;
}
.header_arrow{
    position: absolute;
    height:400px;
    width:auto;
    bottom: 1em;
    right: 40vw;
    left: 40%; 
    animation: pulse 1s infinite;
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    
}
.header_img {
  width: 100vw;
  height:88vh;
  object-fit: cover;
}

@keyframes pulse {
  0% {
    bottom:2em;
    opacity:0.2;
  }
  100% {
    bottom:7em;
    opacity:0.8;
  }}