/*
* Css for header 
*/

.top-ar {
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 2.5em;
    border-bottom: 1px solid rgb(30, 180, 240);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
}

.siteTitle,
.siteTitle:active,
.siteTitle:hover {
    color: white;
}

.header_img {
    width: 100%;
    object-fit: contain;
}
.header_arrow{
    position: absolute;
    bottom: 1em;
    right: 40%;
    left: 40%; 
    animation: pulse 1s infinite;
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    
}

@keyframes pulse {
  0% {
    opacity:0.2;
  }
  100% {
    opacity:0.8;
  }
}