.maincontainer_single {
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.link_single,
.link_single:active,
.link_single:hover,
.link_single:focus {
color:white;
    text-decoration: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}

.single_title{
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
   color:white;
    text-align: center;
    margin-top:1em;
}
.single_content{
    width:60vw;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
   color:white;
    text-align: center;
    display: inline-block;
}
.single_content img{
    height:auto;
    display: inline-block;
}